.navbar-inverse{
 background-color: white;
  border-color:white;
  margin-left: 100px;

}
.navbar-nav{
  float:right;
  margin-right: 100px;

}
.navbar-brand{
  color:darkviolet;
  margin-left: 50px;
}
.navbar-brand:hover{
  color:black;
  background-color:transparent
}
.navbar-nav a{
  color:black;
}
.navbar-nav a:hover{
  color:darkviolet;
}
.info{
  background-color: #4781c1;
  width: 100%;
  height: 40px;
}
.contact{
  margin-left: 100px;

}


.contactMail {
  margin-left: 10px;
  color: white;
  text-decoration: none;
}

.iconContact{
  margin-top: 10px;
  color:darkviolet;
  margin-left: 20px;

}
