.titre{
  margin: 50px;
  text-align: center;
  color: black;
  font-size: 40px;
  font-family: Uberhand pro, serif;
  text-decoration-style: double;
  text-decoration-line: underline;
  text-decoration: black;

}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item{
  border: solid 1px #134a6b;
  padding: 20px;
  border-radius: 10px;
}

.bouton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;

}
button{
  background-color:#b65010;
  color: white;
  font-size: 20px;
}

.photoFicheMetier1{
  width: 30%;
  height: auto;
}
.photo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.active{
 margin-left: 40%;}

.left{
  margin-left: 20%;
}
.right{
  margin-right: 20%;
}
.carousel{
  margin-top: 50px;
}
label{
  margin-left: 40%;
  margin-top: 10px;
}
.table{
  width: 50%;
  margin-top: 10px;
}
.glyphicon{
 color: #134a6b;
}
.containerfiche{
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
}

.fiche{
  position: absolute;
  background-color: #134a6b;
  font-size: 2vw;
  font-family: Uberhand pro, serif;
  top: 20%;
  color: white;
  padding: 10px 50px 10px 50px;
}

ul{
  font-family: Uberhand pro, serif;
  font-size: 20px;

}
.texte p{
  font-family: Uberhand pro, serif;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;

}
.photo1{
  position: relative;

}
.photoFicheMetier{
  width: 100%;
  height: 500px;
}

.texte{
  align-items: center;
}
.texte li{
  list-style-type:none;
}
td{
  cursor: pointer;
}
h3{
  text-align: center;
  color:  #134a6b;
  margin-top: 40px;
  font-family: Uberhand pro, serif;
  font-size: 30px;
}

p{
  font-family: Uberhand pro, serif;
  font-size: 20px;
  margin: 30px 50px;}

.explication{
  margin-top: 20px;
}
.explication p
{ margin-left: 20%; }
/*contexte/objectifs/process*/
h2{
  text-align: center;
}
.button-container{
  font-family: Uberhand pro, serif;
  font-size: 30px;
  background-color: #134a6b;
  color: white;
  padding: 10px 50px 10px 10px;
}
.button-container button{
  float: right;
  margin-top: -50px;
}
.selection{
  background: #134a6b;
  border: solid #134a6b;
  height: 60px;
  margin-bottom: 20px;
}

.contexte{
  background: #f8c620;
  color: #134a6b;
  margin-top: 10px;
  margin-right: 50px;
  width: 110px;
}
.objectif{
  background: #60cfbe;
  color: white;
  margin-top: 10px;
  margin-right: 50px;
  width: 110px;
}
.process{
  background: #b65010;
  color: black;
  margin-top: 10px;
  width: 110px;
}
.clic{
  float: right;
  margin-right: 50px;
}
/*contexte/objectifs/process*/

.bndream{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.label{
  display: flex;
  flex-direction: column;
}

.imgcontexte{
  width: 10%;
  height: auto;
}
.item{
  border: solid 1px grey ;

}
.item{
  border: solid 1px#134a6b;
  padding: 20px;
  border-radius: 10px;
}

.bndream .item{
  border: solid 1px #b65010;
  padding: 20px;
  border-radius: 10px;
  width: 60%;}

.bndream p{
  font-family: Uberhand pro, serif;
  font-size: 20px;
  margin: 30px 50px;}

.liObjectif ul{
  list-style-type: disc;
}

.liObjectif li{
  font-family: Uberhand pro, serif;
  font-size: 20px;
  line-height: 2em;
}
.bndream h4{
  text-align: center;
  font-family: Uberhand pro, serif;
  font-size: 20px;
  margin: 30px 50px;}

.para{
  color: #b65010;
}

.etiquettes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.our-team-main
{
  margin: 20px;
  border-bottom:5px #323233 solid;
  background:#fff;
  border-radius:10px;
  transition:0.5s;
  overflow:hidden;
  position:relative;
  text-align: center;
}

.our-team-main img{
  align-items: center;
  width: 200px;
  height: 133px;
  cursor: pointer;
}
.our-team-main p
{
  margin-bottom:0;
}

.team-back
{
  position:absolute;
  top:0;
  left:0;
  padding:5px 5px 0 5px;
  text-align:left;
  background:#fff;
}

.team-front
{
  position:relative;
  z-index:0.5;
  background:#fff;
  padding:15px;
  transition: all 0.5s ease;
}

