<div class="header2">
</div>
<div class="header">

</div>

<!--<div fxLayout="row" fxLayoutAlign="start stretch" style="background-color: red;height: 100%">
<div style="background: palevioletred;" fxFlex="200px"  fxFlex.xs="50px" fxLayout="column nowrap" fxLayoutAlign="start" fxLayoutGap="3px">
 <div [ngStyle]="{ backgroundColor:'orange' }" fxFlex="50px" [ngStyle.xs]="{ backgroundColor:'yellow' }"></div>
  <div style="background-color:orange;" fxFlex="50px"></div>
  <div style="background-color:orange;" fxFlex="50px"></div>
  <div style="background-color:orange;" fxFlex="50px"></div>
</div>
<div style="background: green;" fxFlex="auto" fxLayout="row warp" fxLayout.xs="column nowarp"fxLayoutAlign="space-between space-between" fxLayoutGap.xs="3px">
  <div style="background-color: red; height: 200px" fxFlex="200px" fxShow="false" fxShow.gt-xs="true">1</div>
  <div class="exColor" fxFlex="200px" [ngClass.xs]="'newColor'"  >2</div>
  <div style="background-color: red; height: 200px" fxFlex="200px">3</div>
  <div style="background-color: red; height: 200px" fxFlex="200px">4</div>
  <div style="background-color: red; height: 200px" fxFlex="200px">5</div>
  <div style="background-color: red; height: 200px" fxFlex="200px">6</div>
  <div style="background-color: red; height: 200px" fxFlex="200px">7</div>

</div>
</div>-->
<!--
<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
    <input id="tab-2" type="radio" name="tab" class="for-pwd"><label for="tab-2" class="tab">Forgot Password</label>
    <div class="login-form">
      <div class="sign-in-htm">
        <div class="group">
          <label for="user" class="label">Username or Email</label>
          <input id="user" type="text" class="input">
        </div>
        <div class="group">
          <label for="pass" class="label">Password</label>
          <input id="pass" type="password" class="input" data-type="password">
        </div>
        <div class="group">
          <input type="submit" class="button" value="Sign In">
        </div>
        <div class="hr"></div>
      </div>
      <div class="for-pwd-htm">
        <div class="group">
          <label for="user" class="label">Username or Email</label>
          <input id="user" type="text" class="input">
        </div>
        <div class="group">
          <input type="submit" class="button" value="Reset Password">
        </div>
        <div class="hr"></div>
      </div>
    </div>
  </div>
</div>
-->
