.titre{
  margin: 50px;
  text-align: center;
  color: black;
  font-size: 40px;
  font-family: Uberhand pro, serif;
  text-decoration-style: double;
  text-decoration-line: underline;
  text-decoration: black;

}

.numro{
  border-radius: 25px;
  background-color:#134a6b;
  width: 50px;
  height:50px;
  text-align: center;
  color: white;
  font-size: 30px;
  float: left;
  padding-top: 15px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.test{
  color: #134a6b;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Uberhand pro, serif;
}

.projet p{
  color:white;
  font-size: 30px;
  font-family: Uberhand pro, serif;
  text-align: center;
  font-weight: bold;
}


.projet{
  position: absolute;
  margin-top: -50px;
  margin-left: 30px;}
.imageN{
  margin-right: 50px;
  margin-top: 50px;
}

.estime{
  margin-left: 60px;
}
.organiser{
  margin-left: 80px;
}
.cv{
  margin-left: 80px;

}
.entretien{
  margin-top: -70px;
}



.imgProjet{
  border-radius: 3%;
  cursor: pointer;
  font-family: Uberhand pro, serif;
}

.time{
  float: right;
  color: #134a6b;
  margin-right: 20px;
}


.testValide{
  color: #b65010;
}
.testCours{
  color: #f8c620;
}

.numroValide{
  background-color:#b65010;
}
.numroCours{
  background-color: #f8c620;
}

.etiquettes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.our-team-main
{
  margin: 20px;
  border-bottom:5px #323233 solid;
  background:#fff;
  border-radius:10px;
  transition:0.5s;
  overflow:hidden;
  position:relative;
  text-align: center;
}

.our-team-main img{
  align-items: center;
}
.our-team-main p
{
  margin-bottom:0;
}

.team-back
{
  position:absolute;
  top:0;
  left:0;
  padding:5px 5px 0 5px;
  text-align:left;
  background:#fff;
}

.team-front
{
  position:relative;
  z-index:0.5;
  background:#fff;
  padding:15px;
  transition: all 0.5s ease;
}

.newProgressBar{
  width: 40%;
  float: left;
  margin: 20px;
}

.pourcent0{
  float: left;
  margin-left: 10px;
  margin-top: 20px;
  color: white;
}
.pourcent100{
  float: left;
  margin-left: 10px;
  margin-top: 20px;
  color: white;
}
/*contexte/objectifs/process*/
.texte{
  margin: 20px;
}

.bndream{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

h2{
  text-align: center;
}
.item{

  border: solid 1px #b65010;
  padding: 20px;
  border-radius: 10px;
  width: 70%;}

.button-container{
  font-family: Uberhand pro, serif;
  font-size: 30px;
  background-color: #134a6b;
  color: white;
  padding: 10px 50px 10px 10px;
}
.button-container button{
  float: right;
  margin-top: -50px;
}
.selection{
  background: #134a6b;
  border: solid #134a6b;
  height: 60px;
  margin-bottom: 60px;
}

.contexte{
  background: #f8c620;
  color: #134a6b;
  margin-top: 10px;
  margin-right: 50px;

}
.objectif{
  background: #60cfbe;
  color: white;
  margin-top: 10px;
  margin-right: 50px;

}
.process{
  background: #b65010;
  color: black;
  margin-top: 10px;
}
.clic{
  float: right;
  margin-right: 50px;
}
/*contexte/objectifs/process*/


