  <!--/.footer-->
<footer>
      <div class="form">
        <div class="textForm">
        <h2>Vous avez besoin d'un accompagnement personnalisé ?</h2>
        <p>Contactez notre expert dès maintenant.</p>

          </div>

      </div>

    <div class="reseau">
    <span>
    <a href='#'><i class="fa fa-twitch fa-3x fa-fw"></i></a>
    <a href='#'><i class="fa fa-facebook fa-3x fa-fw"></i></a>
    <a href='#'><i class="fa fa-twitter fa-3x fa-fw"></i></a>
    <a href='#'><i class="fa fa-youtube-play fa-3x fa-fw"></i></a>
    <a href='#'><i class="fa fa-rss fa-3x fa-fw"></i></a>
    <a href='#'><i class="fa fa-vine fa-3x fa-fw"></i></a>
    <a href='#'><i class="fa fa-flickr fa-3x fa-fw"></i></a>
    <a href='#'><i class="fa fa-linkedin fa-3x fa-fw"></i></a>
    </span>
  </div>


<div class="flooterLogo">
  <img [src]="logon" >
</div>
  <div class="flooterContact">
  <a  href="{{host}}/#/cgu#cgu" target="_blank">CGU</a>
  <a  routerLink="/EnSavoirPlus">Comment ça marche?</a>
  <a routerLink="home/contact" fragment="message">Contactez nous</a>
  </div>
  <div class="flooterContact2">
    <p> 58 rue George Sand 37000 TOURS</p>
    <P>+33 2 47 46 30 08</P>
    <P>contact@wattsucces.com</P>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left"> Copyright © Footer E-commerce Plugin 2014. All right reserved. </p>
    </div>
  </div>
  <!--/.footer-bottom-->

</footer>
