<h1><b>327 420 offres d'emploi disponibles</b></h1>
    <div class="span4">
      <form >
        <div class="item">
          <input  type="text" class="spamG" placeholder="Métier, compétences, mots-clés, n°offre..." >
          <input type="text" class="spamD" placeholder="Lieu de travail">
          <a class="recherche"><mat-icon>search</mat-icon></a>
       </div>
      </form>
    </div>

<div class="span3">

  <div class="photoG">
    <h2><b>Trouver votre nouveau talent</b></h2>
    <button class="valideMail " routerLink="/wattMatch/offreEmploi" fragment="haut" mat-button >Allez-y<mat-icon class="arrow btnMail">keyboard_arrow_right</mat-icon></button>
    <h3><b>Vous cherchez un nouveau collaborateur ?</b></h3>
    <h3><b>Vous cherchez un job ?</b></h3>
    <h3><b>WATT est là pour vous accompagner à faire les bons</b></h3>
    <h3><b>choix.</b></h3>
  </div>
  <img class="photoD" [src]="Img1">

</div>
<div class="span3">
  <img class="photoG2" [src]="Img2">
  <div class="texte2">
    <h2><b>Job board</b></h2>
    <h2><b>Déposer et consulter les offres d'emploi</b></h2>
    <button class="valideMail btn" mat-button >Découvrir<mat-icon class="arrow btnMail">keyboard_arrow_right</mat-icon></button>
    <h3><b>Vous cherchez la nouvelle pépite de votre entreprise ?</b></h3>
    <h3><b>WATT séleconne pour vous les potenels</b></h3>
    <h3><b>candidats.</b></h3>
  </div>


</div>
