<div class="container">
  <div class="nom">
    <div class="encadreNom">
  <h2>ANISSA AITOUARET</h2>
  </div>
  </div>
  <div class="description">
    <div class="item about">
      <h4>ABOUT ME</h4>
      <p>C'est maintenant l'heure pour moi de retourner
        en France, avec une motivation principale :
        appliquer mes acquis à mon futur emploi. Et
        pourquoi pas avec vous ?</p>
      <p>En outre, je suis passionnée par la vente et la
        relation client. Je suis confiante sur le fait de
        pouvoir allier ces deux passions à mon
        expérience professionnelle.</p>
    </div>
    <div class="item">
      <img  class="imageCv" [src]="cheminImage">
    </div>
    <div class="item adresse">

        <p>dfgr@mail.com </p>
        <p>https://www.linkedin.com/IN/dfgr-15478712B/?_l=en_US </p>
        <p>+ 33 6 14 56 19 16 </p>
        <p>11 RUE DE BEAUREAGARD, 37320
          ESVRES SUR INDRE </p>
    </div>

    <div class="item icom">
    <mat-icon>mail</mat-icon>
    <mat-icon>computer</mat-icon>
    <mat-icon> local_phone</mat-icon>
    <mat-icon> store_mall_directory</mat-icon>
    </div>
  </div>
  <div class="separateur"></div>
  <div class="description experience">
    <div class="item ">
      <h4 class="educ">EDUCATION</h4>
   </div>
    <div class="item">
      <h4 class="centre">SKILLS</h4>
     </div>
    <div class="item">
      <h4 class="educ" >EXPERTISE</h4>
    </div>
  </div>
  <div class="description ">
    <div class="item education">
      <p>Formation intensive en anglais,</p>
          <p>avec le programme Erasmus +</p>
         <b> CFSA AFTEC - Oct 2018 ~ Nov 2018</b>

      <p>BTS Négociation Relation Client en</p>
      <p> alternance</p>
         <b> CFSA AFTEC - Sept 2016 ~ Mai 2018</b>

      <p>BAC Science Technologique du Management</p>
      <p>et de la Gestion option Marketing</p>
          <b>LYCÉE GRANDMONT- Juin 2016</b>


    </div>
    <div class="item ">

      <p>MAC/PC SYSTEMS</p>
      <p>OUTLOOK</p>
      <p>POWERPOINT</p>
      <p>EXCEL</p>
      <p>WORD</p>
      <p>IMOVIE</p>
      <p>PHOTOSHOP</p>
    </div>
    <div class="item">
      <p>RESEAUX SOCIAUX</p>
      <p>COMMUNICATION</p>
      <p>MARKETING</p>
      <p>NEWSLETTERS</p>
      <p>RELATION CLIENT</p>
      <p>SATISFACTION CLIENT</p>
      <p>NEGOCIATION</p>
      <p>TELECONSEILLER</p>
    </div>
  </div>


</div>
