.porteFolio{
  margin-bottom: 50px;
}
.titre{
  margin: 50px;
  text-align: center;
  color: black;
  font-size: 40px;
  font-family: Uberhand pro, serif;
  text-decoration-style: double;
  text-decoration-line: underline;
  text-decoration: black;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.ficheCompetence{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}


.item{
  border: solid 1px #134a6b;
  padding: 20px;
  border-radius: 10px;
}
mat-radio-button{
  margin-right: 10px;
}

.table{
 width: 90%;
  height: auto;
}

p{
  font-family: Uberhand pro, serif;
  font-size: 20px;
  margin: 30px 20px 20px;
}

.colone,.savoir{
  font-family: Uberhand pro, serif;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #134a6b;
}
h3{
  font-family: Uberhand pro, serif;
  font-size: 20px;
  color: white;
  text-align: center;
  background-color:#134a6b;
  margin-right:30%;
  margin-left:30%;
}

.form{
  margin-left: 100px;
  margin-bottom: 20px}

.btn{
  margin-top: 10px;
  margin-left: 10px;
}

.btn-warning{
 margin-left: 20px;

}
.select{
  width: 90%;
  height: auto;
}

.bndream{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.label{
  display: flex;
  flex-direction: column;
}

.imgcontexte{
  float: left;
  height: 20%;
}
.item{
  border: solid 1px grey ;

}
.item{
  border: solid 1px #134a6b;
  padding: 20px;
  border-radius: 10px;
}

.bndream .item{
  border: solid 1px #b65010;
  padding: 20px;
  border-radius: 10px;
  width: 70%;}

.bndream p{
  font-family: Uberhand pro, serif;
  font-size: 20px;
  margin: 30px 50px;}

.liObjectif ul{
  list-style-type: disc;
}

.liObjectif li{
  font-family: Uberhand pro, serif;
  font-size: 20px;
  line-height: 2em;
  margin-left: 30px;
}
.bndream h4{
  text-align: center;
  font-family: Uberhand pro, serif;
  font-size: 20px;
  margin: 30px 50px;}

.para{
  color: #b65010;
}

.dico{
  margin-top: 20px;
}
/*contexte/objectifs/process*/
h2{
  text-align: center;
}
.button-container{
  font-family: Uberhand pro, serif;
  font-size: 30px;
  background-color: #134a6b;
  color: white;
  padding: 10px 50px 10px 10px;
}
.button-container button{
  float: right;
  margin-top: -50px;
}
.selection{
  background: #134a6b;
  border: solid #134a6b;
  height: 60px;
  margin-bottom: 20px;
}

.contexte{
  background: #f8c620;
  color: #134a6b;
  margin-top: 10px;
  margin-right: 50px;
  width: 110px;
}
.objectif{
  background: #60cfbe;
  color: white;
  margin-top: 10px;
  margin-right: 50px;
  width: 110px;
}
.process{
  background: #b65010;
  color: black;
  margin-top: 10px;
  width: 110px;
}
.clic{
  float: right;
  margin-right: 50px;
}
/*contexte/objectifs/process*/


