<h1 class="titre" id="haut">Votre projet professionel</h1>
<div class="selection">
  <div class="clic" fxHide.lt-sm>
    <button class="contexte" mat-button (click)="contexte()">Contexte</button>
    <button class="objectif" mat-button (click)="objectif()">Objectifs</button>
    <button class="process" mat-button (click)="process()">Process</button>
  </div>
</div>
  <div class="bndream" >
    <div class="item" *ngIf="contexteValide"  id="contexte">
      <div class="button-container">
        <h2>Contexte</h2>
        <button mat-mini-fab color="warn" (click)="contexte()" >
          <mat-icon>filter_list</mat-icon>
        </button>
      </div>

      <p><b>MON PROJET EST-IL VIABLE ?</b></p>

      <p><b>VOUS ALLEZ POUVOIR ENFIN SAVOIR SI VOTRE PROJET EST REALISTE ET REALISABLE !</b></p>

      <p>Une fois que vous avez bien identifié que votre projet correspond bien à votre profil général, il est
        maintenant temps pour vous d’analyser s’il y a des <b >opportunités d’emploi en termes de débouchés. </b></p>

      <p>Cette étape va vous aider à valider la pertinence de votre projet professionnel en le confrontant aux réalités
        socio-économiques du marché du travail, en <b>repérant les conditions d’exercice des métiers et comment y accéder
          (formations, certifications…).</b></p>
    </div>

    <div class="item" *ngIf="objectifValide"  id="objectif">
      <div class="button-container">
        <h2>Objectifs</h2>
        <button mat-mini-fab color="warn" (click)="objectif()">
          <mat-icon>filter_list</mat-icon>
        </button>
      </div>

      <ul class="liObjectif">
        <li>Vérifier la faisabilité de votre projet au regard du marché de l’emploi</li>
        <li>Aller à la rencontre de professionnels et accroître votre réseau professionnel</li>
        <li>Valider votre projet professionnel</li>
        <li>Identifier vos besoins en formation</li>
      </ul>
    </div>

    <div class="item"   *ngIf="processValide"  id="process">
      <div class="button-container">
        <h2>Process</h2>
        <button mat-mini-fab color="warn" (click)="process()">
          <mat-icon>filter_list</mat-icon>
        </button>
      </div>

      <p>Pour vérifier la viabilité de votre projet professionnel, vous allez vous renseigner sur les <b>opportunités
        économiques / les débouchés en lien avec les projets</b> que vous avez identifiés.
        Vous allez dans un premier temps vérifier la faisabilité de votre projet au regard du marché de l’emploi.
        Dans ce dessein, vous allez vous appuyer sur le <b>BMO édité par Pôle Emploi qui va vous permettre d’accéder
          à des données statistiques via une recherche par zone géographique, par métier et par secteur d’activité.</b>
      </p>
      <p>Nous vous invitons donc à vous rendre sur le lien suivant :</p>

      <a href="https://statistiques.pole-emploi.org/bmo"><p>https://statistiques.pole-emploi.org/bmo</p></a>
      <p>Dans un second temps, nous vous invitons à <b>réaliser des enquêtes métiers auprès de professionnels.</b></p>

      <p>Il est maintenant important d’aller à la <b>rencontre de professionnels pour se renseigner sur le terrain sur les
        secteurs d’activité et les métiers</b> dans lesquels vous envisager de travailler. </p>

      <p><b>Comment vous y prendre :</b></p>
      <p><b>Contacter des professionnels</b> en lien avec vos projets et les interroger pour comprendre en quoi consiste le
        métier, les conditions d’accès, les formations nécessaires et ainsi identifier les avantages et inconvénients
        du métier, de l’environnement de travail pour vous aider à faire les bons choix professionnels.</p>
      <p><b>Comment contacter des professionnels :</b></p>
      <p>En fonction des projets sélectionnés, vous allez identifier des entreprises et leurs coordonnées puis préparer
        les questions à leur poser. </p>
      <p><b>Pour entrer en relation avec les professionnels, vous pouvez :</b></p>
      <ul>
        <li>Consulter les annuaires professionnels (CCI, KOMPAS, CMA…)</li>
        <li>Solliciter votre réseau personnel et professionnel pour vous faciliter la mise en lien</li>
        <li>Vous inscrire sur les <b>réseaux sociaux professionnels</b> comme <b>Linkedin</b> pour entrer en contact avec des professionnels</li>
        <li>Consulter les <b>sites</b> internet, les <b>blogs</b> de professionnels, les <b>forums</b> de discussion spécialisées </li>
        <li>-	Se rendre sur <b>les forums de l’emploi o de l’orientation,</b> journées découverte des métiers et <b>salons
          professionnels</b> pour échanger avec des experts du secteur</li>
        <li>-	Contacter directement les professionnels et leur demander de vous accorder un moment pour échanger sur le métier </li>
      </ul>
      <p><b>Préparer les bonnes questions</b> à poser pour assurer <b>votre enquête métier :</b></p>
      <p>Prenez-le temps de préparer un questionnaire avec les questions que vous souhaitez poser !</p>
      <p>Voici <b>une liste de questions à poser aux professionnels</b> que vous rencontrerez :</p>

      <ul>
        <li>Pouvez-vous me décrire votre métier ?  Vos principales missions ?</li>
        <li>Quelles sont les tâches principales de ce métier ?</li>
        <li>Comment se déroule une semaine de travail « type » ?</li>
        <li>Selon vous, quels sont les avantages de votre métier ?</li>
        <li>Qu’aimez-le-vous plus dans ce métier ?</li>
        <li>Quel type de formation est demandé pour exercer ce métier ?</li>
        <li>Quelle sont les qualités et aptitudes demandées ?</li>
        <li>Quelles sont les conditions de travail (horaires, déplacement, rythme…)</li>
        <li>Quelle est la rémunération ?</li>
        <li>Pensez-vous qu’il y a des débouchés dans ce secteur d’activité ?</li>
        <li>Comment recrutez-vous ?</li>
        <li>Quels conseils pourrez-vous me donner pour réussir dans ce métier ?</li>
      </ul>
      <p><b>LET’S GO !</b></p>
    </div>
  </div>
<div *ngIf="clientConnect">
<div  class="textePro" *ngIf="!metierValideBySelction&&profilUvalide">

  <h1>A - Métiers et débouchés :</h1>
  <p>Pour vérifier la viabilité de votre projet professionnel, vous allez vous renseigner sur les opportunités économiques
    / les débouchés en lien avec les projets que vous avez identifiés.</p>
  <img [src]="photo1" class="imagePro">
  <h3>1 - Vérifier la faisabilité de votre projet au regard du marché de l’emploi :</h3>
  <p>Chaque année, Pôle emploi adresse un questionnaire aux entreprises afin de connaître leurs besoins en recrutement
    par secteur d’activité et par bassin d’emploi.</p>
    <p>Nous vous invitons donc à vous rendre sur le lien pôle emploi et vous accéderez aux données via une recherche par
      zone géographique, par métier et par secteur d’activité.</p>
  <a href="https://statistiques.pole-emploi.org/bmo" target="_blank"><img [src]="poleEmploi" class="lien"></a>
  <h3>2 - Réaliser des enquêtes métiers auprès de professionnels :</h3>
  <img [src]="photo3" class="imagePro">
  <p>Il est maintenant important d’aller à la rencontre de professionnels pour se renseigner sur le terrain sur les
    secteurs d’activité et les métiers dans lesquels vous envisagez de travailler. </p>
  <h4>Comment vous y prendre :</h4>
  <p>Contacter des professionnels en lien avec vos projets et les interroger pour comprendre en quoi consiste le métier,
    les conditions d’accès, les formations nécessaires et ainsi identifier les avantages et inconvénients du métier,
    de l’environnement de travail pour vous aider à faire les bons choix professionnels.</p>
  <h4>Comment contacter des professionnels :</h4>
  <p>En fonction des projets sélectionnés, vous allez identifier des entreprises et leurs coordonnées puis préparer
    les questions à leur poser. </p>
  <b>Pour entrer en relation avec les professionnels, vous pouvez :</b>
  <ul>
    <li>Consulter les annuaires professionnels (CCI, KOMPAS, CMA…);</li>
    <li>Solliciter votre réseau personnel et professionnel pour vous faciliter la mise en lien;</li>
    <li>Vous inscrire sur les réseaux sociaux professionnels comme Linkedin pour entrer en contact avec des professionnels;</li>
    <li>Consulter les sites internet, les blogs de professionnels, les forums de discussion spécialisées;</li>
    <li>Se rendre sur les forums pour l’emploi, journées découverte des métiers et salons professionnels pour échanger avec des experts du secteur;</li>
    <li>Contacter directement les professionnels et leur demander de vous accorder un moment pour échanger sur le métier;</li>
  </ul>
  <h4>Préparer les bonnes questions à poser pour assurer votre enquête métier :</h4>
  <p>Prenez-le temps de préparer un questionnaire avec les questions que vous souhaitez poser !</p>
  <p>Voici une liste de questions à poser aux professionnels que vous rencontrerez :</p>
  <ul>
    <li>Pouvez-vous me décrire votre métier ?  Vos principales missions ?</li>
    <li>Quelles sont les tâches principales de ce métier ?</li>
    <li>Comment se déroule une semaine de travail « type » ?</li>
    <li>Selon vous, quels sont les avantages de votre métier ?</li>
    <li>Qu’aimez-le-vous plus dans ce métier ?</li>
    <li>Quel type de formation est demandé pour exercer ce métier ?</li>
    <li>Quelle sont les qualités et aptitudes demandées ?</li>
    <li>Quelles sont les conditions de travail (horaires, déplacement, rythme…)</li>
    <li>Quelle est la rémunération ?</li>
    <li>Pensez vous qu’il y a des débouchés dans ce secteur d’activité ?</li>
    <li>Comment recrutez-vous ?</li>
    <li>Quels conseils pourrez-vous me donner pour réussir dans ce métier ?</li>
  </ul>
  <p>Let’s go !</p>
  <p>Vous souhaitez obtenir des conseils personnalisés pour réaliser votre enquête métier ? Contactez-nous !</p>
  <h1>B - Ça y est ! Vous êtes fin prêt pour découvrir les projets qui vous collent le mieux à la peau ! </h1>
  <img [src]="photo2" class="imagePro">
<p><b>Faites le bilan en vous appuyant sur les résultats de votre profil général et des informations collectées lors de vos
  enquêtes professionnelles en vous référant aux modules B’n Dream et B’n Beleave ! </b></p>
  <p>EXERCICE D’AUTOEVALUATION :</p>

  <P>Après avoir pris connaissance des métiers qui vous intéressent, nous vous proposons de sélectionner les métiers
    qui correspondent à votre profil général en tenant compte de vos compétences, intérêts, personnalité et capacités.</P>
  <P><span>Sélection métiers :</span> Maintenant que vous avez identifié vos forces (intérêts, personnalité, capacités…), vous allez
  sélectionner vos 2 ou 3 métiers qui vous semblent réalistes et réalisables.</P>
</div>

<div *ngIf="!metierValideBySelction">

  <table class="tableau table table-striped" *ngIf="profilUvalide">
    <thead>
    <tr>
      <th scope="col">Métier</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let m of metier">
      <th scope="row" *ngIf="!m.etat">{{m.ficheMetier.metier}}</th>
      <th  style="color: #c12b78" scope="row" *ngIf="m.etat"><mat-icon class="icon">favorite</mat-icon> {{m.ficheMetier.metier}}</th>
      <th>
        <mat-checkbox value="{{m.ficheMetier.id}}" (change)="clic($event)"></mat-checkbox>
      </th>
    </tr>
    </tbody>
    <button *ngIf="nbSelect>=1&&nbSelect<=3" class="btn btn-success" (click)="valideSelec()">Valider ma selection</button>
  </table>
</div>
<div *ngIf="metierValideBySelction&&clientConnect" class="felicitation">
<table class="tableau table table-striped" >
  <thead>
  <tr>
    <th scope="col">Métiers sélectionnés</th>
  </tr>
  </thead>
  <tbody>
  <tr  *ngFor="let list of listByMetierSelect">
    <th scope="row">{{list.metier}}</th>
    <th>

    </th>
  </tr>
  </tbody>
</table>
  <h1>MES FELICITATIONS !</h1>
  <h1>VOUS AVEZ REUSSI LA 2ème ETAPE DE WATT</h1>
  <h1>B’NBECOME VOUS A PERMIS DE DEFINIR VOTRE PROJET PROFESSIONNEL EN LIEN AVEC</h1>
  <h1>QUI VOUS ËTES</h1>
  <h1>YES YOU ARE !</h1>
  <h1>MAINTENANT IL EST TEMSP DE METTRE DE REALISER VOTRE PROJET AVEC Go’N BECOME!</h1>
  <h1>YES YOU CAN !</h1>
  <button class="btn btn-success" routerLink="/gonbecome" fragment= "haut" >Go'n Become</button>
</div>
</div>
