.titre{
  margin: 50px;
  text-align: center;
  color: black;
  font-size: 40px;
  font-family: Uberhand pro, serif;
  text-decoration-style: double;
  text-decoration-line: underline;
  text-decoration: black;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}



.bouton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;

}
button{
  background-color:#f8c620;
  color: white;
  font-size: 20px;
}
.icon{
  margin-left: 20px;
  color: white;
}

p{
  font-family: Uberhand pro, serif;
  font-size: 20px;
  margin: 30px 50px;

}
.iconHero{
  color: #134a6b;
}
.motHero{
  font-family: Uberhand pro, serif;
  color: #134a6b;
  font-size: 20px;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
ul{
  list-style-type: none;
  margin-bottom: 50px;

}
.resultaHero{
  text-align: center;
}
li{
  font-family: Uberhand pro, serif;
  font-size: 20px;
  line-height: 2em;
}
h1{
  color: #b65010;
}

/*contexte/objectifs/process*/
h2{
  text-align: center;
}
.item{
  border: solid 1px #b65010;
  padding: 20px;
  border-radius: 10px;
  width: 70%;}

.button-container{
  font-family: Uberhand pro, serif;
  font-size: 30px;
  background-color: #134a6b;
  color: white;
  padding: 10px 50px 10px 10px;
}
.button-container button{
  float: right;
  margin-top: -50px;
}
.selection{
  background: #134a6b;
  border: solid #134a6b;
  height: 60px;
  margin-bottom: 20px;
}

.contexte{
  background: #f8c620;
  color: #134a6b;
  margin-top: 10px;
  margin-right: 50px;
  width: 110px;
}
.objectif{
  background: #60cfbe;
  color: white;
  margin-top: 10px;
  margin-right: 50px;
  width: 110px;
}
.process{
  background: #b65010;
  color: black;
  margin-top: 10px;
  width: 110px;
}
.clic{
  float: right;
  margin-right: 50px;
}
/*contexte/objectifs/process*/

mat-checkbox{
  margin-right: 10px;
}
