<div class="texte" id="formulaire">
<h1 id="haut">Publier votre offre d’emploi</h1>
<p>Une offre bien renseignée et précise, c’est la garantie de trouver le talent qu’il vous faut ! Attirez les candidats
  en y mettant en valeur votre entreprise, votre logo et le lien vers votre site internet.</p>
</div>
<form [formGroup]="registerForm" >
<div class="item" *ngIf="valide==0">
  <h1>1. Descriptif du poste / profil</h1>
  <div class="form-group">
    <label>* Intitulé du poste</label>
    <input type="text" formControlName="intitule" class="form-control objet" [ngClass]="{ 'is-invalid': submitted && f.intitule.errors }"/>
    <div *ngIf="submitted && f.intitule.errors" class="invalid-feedback">
      <div *ngIf="f.intitule.errors.required" style="color: #b65010">Intitulé du poste obligatoire</div>
    </div>
  </div>
  <div class="form-group ">
    <label>*Descriptif du poste</label>
    <textarea type="text" formControlName="descriptif" class="form-control message" [ngClass]="{ 'is-invalid': submitted && f.descriptif.errors }"></textarea>

    <div *ngIf="submitted && f.descriptif.errors" class="invalid-feedback">
      <div *ngIf="f.descriptif.errors.required" style="color: #b65010">Descriptif obligatoire</div>
    </div>
  </div>
  <button class="valideContact" mat-button (click)="onSubmit();" >Suite<mat-icon class="arrow">keyboard_arrow_right</mat-icon></button>

</div>
  <div class="texte"  *ngIf="valide==1">
    <h2>Hard skills / Compétences</h2>
    <p>1-	Sélectionnez les 5 compétences essentielles que votre futur recrue devra posséder sur la base d’une liste prédéfinie.</p>
  </div>
  <div class="item" *ngIf="valide==1">
    <form class="form">
      <mat-form-field appearance="fill">
        <mat-label>Secteur d'activité:</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="food">
          <mat-option *ngFor="let competence of listCompetences" [value]="competence.competence" (click)="clic(competence.id)">
            {{competence.competence}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
    <div class="container" *ngIf="valide==1">
<table class="table table-bordered" *ngIf="selectCompetence">
  <thead>
  <tr>
    <th scope="col">Compétences</th>
    <th scope="col">Selection</th>

  </tr>
  <tr class="competence">Savoir</tr>
  </thead>
  <tbody>
  <tr *ngFor="let savoir of competenceSelected.savoir; let index = index">
    <td *ngIf="savoir">{{savoir}}</td>
    <td *ngIf="savoir"> <mat-radio-group aria-label="Select an option" >
      <mat-checkbox value="{{savoir}}" (change)="save($event)" ></mat-checkbox>
    </mat-radio-group></td>
  </tr>
  <tr class="competence">Faire</tr>
  <tr *ngFor="let faire of competenceSelected.faire; let index = index">
    <td *ngIf="faire">{{faire}}</td>
    <td *ngIf="faire"> <mat-radio-group aria-label="Select an option" >
      <mat-checkbox value="{{faire}}" (change)="save($event)" ></mat-checkbox>
    </mat-radio-group></td>
  </tr>
  </tbody>
</table>
  </div>
  <div *ngIf="valide==1">
    <div class="texte" >
    <p *ngIf="number<=5&&number>0">2- Vous pouvez ensuite ajouter 3 compétences que vous jugez importantes ou utiles pour le poste à pourvoir.</p>
    </div>
    <div class="item3" *ngIf="number<=5&&number>0">
    <div class="form-group">
      <label>Compétence</label>
      <input type="text" formControlName="competence1" class="form-control objet"/>
    </div>
    <div class="form-group">
      <input type="text" formControlName="competence2" class="form-control objet"/>
    </div>
    <div class="form-group">
      <input type="text" formControlName="competence3" class="form-control objet"/>
    </div>
    </div>

    <div class="container" *ngIf="selectCompetence">
   <button class="valideRetour" mat-button  (click)="validation('-') ;suite()"><mat-icon class="arrow Retour">keyboard_arrow_left</mat-icon>Retour</button>
    <button *ngIf="number<=5&&number>0" class="valideContact" mat-button  (click)="validation('+');suite()">Suite<mat-icon class="arrow">keyboard_arrow_right</mat-icon></button>
    </div>
  </div>


  <div class="item" *ngIf="valide==2">
    <h2>Compétences complémentaires / langues / permis</h2>
    <div class="form-group">
      <label>Langues</label>
      <input type="text" formControlName="langue" class="form-control objet"/>
    </div>
    <div class="form-group">
      <label>Permis</label>
      <input type="text" formControlName="permis" class="form-control objet"/>
    </div>
    <button class="valideRetour" mat-button  (click)="validation('-');suite()"><mat-icon class="arrow Retour">keyboard_arrow_left</mat-icon>Retour</button>
    <button class="valideContact" mat-button  (click)="validation('+');suite()">Suite<mat-icon class="arrow">keyboard_arrow_right</mat-icon></button>
  </div>
  <div  *ngIf="valide==3">
    <div class="texte">
      <h2>Savoir-être professionnels (3 maximum)</h2>
      <p>Qualités professionnellesSélectionnez les savoir-être professionnels les plus importants pour votre poste.</p>
    </div>
  <div class="item" >
    <mat-radio-group aria-label="Select an option" *ngFor="let valeurs of savoirEtre">
      <mat-checkbox value="{{valeurs}}"  (change)="onChange($event)" >{{valeurs}}</mat-checkbox>
    </mat-radio-group>
  </div>
  </div>
  <div class="validationSavoir"  *ngIf="valide==3">
    <button class="valideRetour" mat-button  (click)="validation('-');suite()"><mat-icon class="arrow Retour">keyboard_arrow_left</mat-icon>Retour</button>
    <button *ngIf="number<=3&&number>0" class="valideContact" mat-button  (click)="validation('+');suite()">Suite<mat-icon class="arrow">keyboard_arrow_right</mat-icon></button>
  </div>

    <div class="texte" *ngIf="valide==4">
      <h2> Plus d'infos</h2>
    </div>
    <div class="item" *ngIf="valide==4">
      <div class="form-group">
        <label>* Lieu de travail</label>
        <input type="text" formControlName="lieuTravail" class="form-control objet" [ngClass]="{ 'is-invalid': submitted && f.lieuTravail.errors }"/>
        <div *ngIf="submitted && f.lieuTravail.errors" class="invalid-feedback">
          <div *ngIf="f.lieuTravail.errors.required" style="color: #b65010">Le lieu de travail obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <label>* Nombre de poste(s) à pourvoir</label>
        <input type="number" formControlName="nbPoste" class="form-control objet" [ngClass]="{ 'is-invalid': submitted && f.nbPoste.errors }" min="1"/>
        <div *ngIf="submitted && f.nbPoste.errors" class="invalid-feedback">
          <div *ngIf="f.nbPoste.errors.required" style="color: #b65010">Le nombre de poste(s) à pourvoir est obligatoire</div>
        </div>
      </div>
      <form class="form">
          <mat-form-field appearance="fill">
            <mat-label>* Expérience</mat-label>
            <mat-select [(ngModel)]="selectedExpereince" name="experience">
              <mat-option *ngFor="let exp of experience" [value]="exp" (click)="info()">
                {{exp}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </form>
      <form class="form">
          <mat-form-field appearance="fill">
            <mat-label>* Niveau de qualification</mat-label>
            <mat-select [(ngModel)]="selectedQualification" name="qualification">
              <mat-option *ngFor="let niv of niveau" [value]="niv" (click)="info()">
                {{niv}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </form>
  </div>
  <div class="validationSavoir" *ngIf="valide==4">
    <button class="valideRetour" mat-button  (click)="validation('-');suite()"><mat-icon class="arrow Retour">keyboard_arrow_left</mat-icon>Retour</button>
    <button *ngIf="selectedExpereince&&selectedQualification" class="valideContact" mat-button (click)="onSubmit2();suite()" >Suite<mat-icon class="arrow">keyboard_arrow_right</mat-icon></button>
  </div>

  <div class="texte" *ngIf="valide==5">
    <h1>2. Contrat</h1>
  </div>
  <div class="item" *ngIf="valide==5">
    <form class="form">
      <mat-form-field appearance="fill">
        <mat-label>* Type de contrat</mat-label>
        <mat-select [(ngModel)]="selectedContrat" name="qualification">
          <mat-option *ngFor="let contrat of contratType" [value]="contrat" (click)="info()">
            {{contrat}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <p>* Prise de poste</p>
    <mat-radio-group aria-label="Select an option">
      <mat-checkbox value="Dès que possible"  (change)="priseDePoste($event)" >Dès que possible</mat-checkbox>
    </mat-radio-group>
    <div class="form-group" *ngIf="!prisePoste">
      <label>Choisissez la date</label>
      <input type="date" formControlName="prisePoste" class="form-control objet" />

    </div>
    <p>* Temps de travail hebdomadaire</p>
    <div class="form-group">
      <label>Nombre d'heures</label>
      <input type="number" formControlName="tempsTravail" class="form-control objet" [ngClass]="{ 'is-invalid': submitted && f.tempsTravail.errors }" min="1"/>
      <div *ngIf="submitted && f.tempsTravail.errors" class="invalid-feedback">
        <div *ngIf="f.tempsTravail.errors.required" style="color: #b65010">Temps de travail  obligatoire</div>
      </div>
    </div>
    <p>* Salaire indicatif</p>
    <div class="form-group">
      <label>De</label>
      <input type="number" formControlName="salaireMin" class="form-control objet"[ngClass]="{ 'is-invalid': submitted && f.salaireMin.errors }" min="1"/>
      <div *ngIf="submitted && f.salaireMin.errors" class="invalid-feedback">
        <div *ngIf="f.salaireMin.errors.required" style="color: #b65010">Salaire  obligatoire</div>
      </div>
      <div class="form-group">
        <label>à</label>
        <input type="number" formControlName="salaireMax" class="form-control objet"/>
    </div>
</div>
    <form class="form">
      <mat-form-field appearance="fill">
        <mat-label>Salaire indicatif en durée</mat-label>
        <mat-select [(ngModel)]="selectedDurreSalaire" name="experience">
          <mat-option *ngFor="let duree of dureeSalaire" [value]="duree" (click)="info()">
            {{duree}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <div class="form-group" *ngIf="selectedDurreSalaire=='Annuel'">
      <label>Sur nombre de mois</label>
      <input type="number" formControlName="nbMoisSalaireAnnuell" class="form-control objet"/>
    </div>
    <mat-radio-group aria-label="Select an option">
      <mat-checkbox value="Autre type de salaire"  (change)="typeSalaire($event)" >Autre type de salaire</mat-checkbox>
    </mat-radio-group>
  </div>
  <div class="validationSavoir" *ngIf="valide==5">
    <button class="valideRetour" mat-button  (click)="validation('-');suite()"><mat-icon class="arrow Retour">keyboard_arrow_left</mat-icon>Retour</button>
    <button *ngIf="selectedContrat&&selectedDurreSalaire" class="valideContact" mat-button (click)="onSubmit3();suite()" >Suite<mat-icon class="arrow">keyboard_arrow_right</mat-icon></button>
  </div>
  <div class="item" *ngIf="valide==5">
    <h1>3. Modalités de recrutement</h1>
      <mat-radio-group aria-label="Select an option">
        <mat-checkbox value="Je publie et je gère mon offre en ligne"  (change)="modalit($event)" >Je publie et je gère mon offre en ligne.
          Les candidats intéressés me contactent directement.</mat-checkbox>
      </mat-radio-group>
    <mat-radio-group aria-label="Select an option">
      <mat-checkbox value="Je souhaite être rappelé"  (change)="onChange($event)" >Je souhaite être rappelé(e)
        par un consultant WATT Match pour bénéficier de services complémentaires (présélection des candidats, évaluation
        psychologique et des compétences des profils…).</mat-checkbox>
    </mat-radio-group>
    <P style="margin-top: 20px; margin-left: 50px; font-size: 20px">Je suis notamment intéressé(e) par :</P>
    <mat-radio-group aria-label="Select an option">
      <mat-checkbox value="une présélection des candidats"  (change)="onChange($event)" >une présélection des candidats</mat-checkbox>
    </mat-radio-group>
    <mat-radio-group aria-label="Select an option">
      <mat-checkbox value="une présélection téléphonique"  (change)="onChange($event)" >une présélection téléphonique</mat-checkbox>
    </mat-radio-group>
    <mat-radio-group aria-label="Select an option">
      <mat-checkbox value="une aide à la décision"  (change)="onChange($event)" >une aide à la décision via des tests
        psychotechniques (personnalité, motivation, aptitudes intellectuelles…) ou de compétences </mat-checkbox>
    </mat-radio-group>
    <form class="form" style="margin-top: 20px ; margin-left: 50px">
      <mat-form-field appearance="fill">
        <mat-label>Mode de diffusion</mat-label>
        <mat-select [(ngModel)]="selectedMotifDiffusion" name="experience">
          <mat-option *ngFor="let diffusion of motifDiffusion" [value]="diffusion" (click)="info()">
            {{diffusion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <form class="form" style="margin-top: 20px ; margin-left: 50px">
      <mat-form-field appearance="fill">
        <mat-label>Mode de diffusion</mat-label>
        <mat-select [(ngModel)]="selectedModeContact" name="experience">
          <mat-option *ngFor="let contact of modeContact" [value]="contact" (click)="info()">
            {{contact}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div class="validationSavoir"  *ngIf="valide==5">
    <button class="valideRetour" mat-button  (click)="validation('-');suite()"><mat-icon class="arrow Retour">keyboard_arrow_left</mat-icon>Retour</button>
    <button *ngIf="selectedMotifDiffusion&&selectedModeContact" class="valideContact" mat-button (click)="onSubmit3();suite()" >Suite<mat-icon class="arrow">keyboard_arrow_right</mat-icon></button>
  </div>
  <div class="item" *ngIf="valide==6" >
    <h1>4. À propos de vous</h1>

  <div class="form-group">
    <label>* Nom</label>
    <input type="texte" formControlName="nomEmployeur" class="form-control objet" [ngClass]="{ 'is-invalid': submitted && f.nomEmployeur.errors }" />
    <div *ngIf="submitted && f.nomEmployeur.errors" class="invalid-feedback">
      <div *ngIf="f.nomEmployeur.errors.required" style="color: #b65010">Nom obligatoire</div>
    </div>
  </div>

  <div class="form-group">
    <label>* Prénom</label>
    <input type="texte" formControlName="prenomEmployeur" class="form-control objet"[ngClass]="{ 'is-invalid': submitted && f.prenomEmployeur.errors }" />
    <div *ngIf="submitted && f.prenomEmployeur.errors" class="invalid-feedback">
      <div *ngIf="f.prenomEmployeur.errors.required" style="color: #b65010">Prénom obligatoire</div>
    </div>
  </div>
    <div class="form-group">
      <label>* Téléphone</label>
      <input type="texte" formControlName="telephoneEmployeur" class="form-control objet"[ngClass]="{ 'is-invalid': submitted && f.telephoneEmployeur.errors }"/>
      <div *ngIf="submitted && f.telephoneEmployeur.errors" class="invalid-feedback">
        <div *ngIf="f.telephoneEmployeur.errors.required" style="color: #b65010">Téléhone  obligatoire</div>
      </div>
    </div>
    <h1>À propos de l'entreprise</h1>
    <div class="form-group">
      <label>*Dénomination</label>
      <input type="texte" formControlName="denomination" class="form-control objet" [ngClass]="{ 'is-invalid': submitted && f.denomination.errors }" />
      <div *ngIf="submitted && f.denomination.errors" class="invalid-feedback">
        <div *ngIf="f.denomination.errors.required" style="color: #b65010">Dénomination obligatoire</div>
      </div>
    </div>
    <p>Logo de l'entreprise</p>
    <p>Merci de télécharger une image carrée.</p>
    <p>La résolution minimale doit être de 120 x 120 pixels Formats valides : .jpg, .png, .gif</p>
    <p>En téléchargeant cette image, vous déclarez en être propriétaire, disposer des droits d'usage pour pouvoir l’utiliser.</p>
    <form>
      <img [src]="cheminImage" class="portrait" alt=" " (click)="fileInput.click()" title="Cliquez ici pour selectionner votre logo">
      <input style="display: none" type="file" #Image accept="image/*"  (change)="handleFinInput($event.target.files)" #fileInput >
    </form>
    <div class="form-group ">
      <label style="font-size: 20px">Description de l'entreprise</label>
      <p>Présentez votre entreprise aux candidats en quelques lignes</p>
      <textarea type="text" formControlName="descriptifEntreprise" class="form-control message"></textarea>
      </div>
    <form class="form" style="margin-top: 20px ">
      <mat-form-field appearance="fill">
        <mat-label>Secteur</mat-label>
        <mat-select [(ngModel)]="selectedSecteur" name="experience">
          <mat-option *ngFor="let secteur of secteurActivite" [value]="secteur" (click)="info()">
            {{secteur}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <form class="form" style="margin-top: 20px">
      <mat-form-field appearance="fill">
        <mat-label>Taille de votre entreprise (nombre de salariés)</mat-label>
        <mat-select [(ngModel)]="selectedTailleEntreprise" name="experience">
          <mat-option *ngFor="let taille of tailleEntreprise" [value]="taille" (click)="info()">
            {{taille}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <P style="margin-top: 20px;font-size: 20px">Comment avez-vous entendu parler de nous ?</P>
    <mat-radio-group aria-label="Select an option"  (change)="onChange2($event)">
      <mat-radio-button value="Notre site Web" >Notre site Web</mat-radio-button>
      <mat-radio-button value="Un moteur de recherche">Un moteur de recherche</mat-radio-button>
      <mat-radio-button value="Une recommandation">Une recommandation</mat-radio-button>
      <mat-radio-button value="Par les médias">Par les médias</mat-radio-button>
      <mat-radio-button value="autre">Autre : </mat-radio-button>
    </mat-radio-group>
    <input *ngIf="autre" type="texte" formControlName="modeContact" class="form-control objet"/>

    <div class="validationSavoir">
      <button class="valideRetour" mat-button  (click)="validation('-');suite()"><mat-icon class="arrow Retour">keyboard_arrow_left</mat-icon>Retour</button>
      <button *ngIf="selectedSecteur&&selectedTailleEntreprise" class="valideContact" mat-button (click)="onSubmit3();suite()" >valider mon offre<mat-icon class="arrow">keyboard_arrow_right</mat-icon></button>
    </div>
</div>

</form>
