<div class="container" id="haut">
  <p><a [routerLink]="['/EnSavoirPlus']" fragment="pedagogique">Programme pédagogique</a>&nbsp;
    /&nbsp;<a [routerLink]="['/EnSavoirPlus']" fragment="caract">Les caractéristiques</a></p>
<div class="texte border">
  <p>Découvrez quels sont vos talents pour bâtir le projet professionnel qui vous correspond vraiment.</p>
  <p>Vous êtes capable de faire de grande chose, il suffit juste d’y croire! Il est possible que vous ne sachiez pas
    comment vous y prendre dans cette jungle qu’est le monde professionnel.</p>
  <p>WATT c'est le coup de pouce que personne ne vous a encore donné.</p>
  <p>Nous avons chacun nos propre envie, projet et ambition.</p>
  <p> Vous vous devez de choisir votre métier en fonction de vos valeurs, du sens que vous voulez donner à votre vie.</p>
  <p>Nous, nous croyons fortement en ce que vous voulez, qu’en est-il de vous ? </p>
</div>
  <div class="border">
<h3  class="titre">Quand faire ce bilan ?</h3>

<div class="texte">
 <ul>
   <li>En démarrage de carrière, WATT vous aidera à prendre confiance et à vous conforter dans le choix d’un métier ;</li>
   <li>A mi-parcours professionnelle, pour booster votre carrière ou opérer une reconversion professionnelle ;</li>
   <li>En période de recherche d’emploi, il vous aide clarifier vos envies et vous repositionner professionnellement.</li>
 </ul>
</div>
<h3 class="titre">Comment ça marche ?</h3>
<div class="texte">
  <p>Aujourd’hui, le travail que vous exercez doit vous permettre de vous épanouir pleinement. Ne perdez pas votre temps
    à réaliser des choses qui ne vous plaise pas ou plus.</p>
  <p> Dans une vie, nous changeons en moyenne 5 fois de métiers, il est tout à fait normal que vos envies et vos attentes évoluent avec le temps !</p>
  <p>Votre travail ne doit plus être une corvée. Votre travail doit vous représenter.</p>
  <p>Nous allons vous aidez à trouver le vôtre !</p>
  <p>Passez par nos différentes étapes via des tests d'orientation et d’évaluation, des outils de coaching en
    développement personnel, des conseils, des entretiens avec votre consultante coach pour enfin vous révéler et
    découvrir votre métier idéal, vos talents cachés et bien d'autres clés du succès.</p>
</div>
  </div>
  <div class="border" id="pedagogique">
<h3 class="titre">●	Programme pédagogique de WATT of Africa</h3>
<div class="texte">
  <p>Chaque séance est créée par des psychologues du travail et coachs. Elle est composée de plusieurs parties et
    comporte des exercices d’autoévaluation, des outils de coaching, de développement personnel et des tests
    psychotechniques. </p>
  <p>Le format de WATT composé en 3 grandes étapes pour clarifier votre projet professionnel et booster votre carrière :</p>
 <ul>
   <li>B’N START</li>
   <li>B’N Dream</li>
   <li>B’N Go</li>
   <li>B’N Become</li>
 </ul>
  <p>WATT vous permettra sur la base de votre parcours, vos compétences, vos intérêts, vos valeurs, votre personnalité,
    d’identifier le métier qui vous convient en lien avec votre profil et le marché du travail dans lequel vous évoluez.</p>
   <p> Une fois un projet solide en poche, vous aurez accès à tous les outils de recherche d’emploi (Cv, lettre de
     motivation, se préparer à un entretien d’embauche) pour faciliter votre employabilité. </p>
  <p>À la fin de cet accompagnement, vous serez capable de :</p>
  <ul>
    <li>Découvrir vos intérêts professionnels et votre personnalité</li>
    <li>Identifier vos compétences et votre potentiel</li>
    <li>Vous reconnecter à vos valeurs et vos motivations</li>
    <li>Explorer les métiers qui correspondent à votre profil</li>
    <li>Vérifier la faisabilité du projet avec le marché du travail</li>
    <li>Rechercher les formations pour rendre votre projet viable</li>
    <li>Organiser votre recherche d’emploi (CV, lettre de motivation, se préparer à un entretien d’embauche…)</li>
    <li>Définir un plan d’action et organiser vos objectifs à atteindre.</li>
  </ul>

  <b>Présentation des 3 modules:</b>

  <p>Chaque séance se présente sous forme de:</p>
  <ul>
    <li>Exercices de réflexion</li>
    <li>Exercices d’autoévaluation</li>
    <li>Tests psychotechniques</li>
    <li>Conseils sur les techniques de recherche d’emploi</li>
  </ul>

  <p><b>Prérequis:</b>aucun prérequis. WATT est accessible à toutes et à tous.</p>
  <b>Accès aux outils en ligne:</b>
  <p>Dans les différents modules, nous mettons à disposition en ligne gracieusement aux candidats des accès à certains
    tests psychotechniques, aux outils de développement personnel et de coaching, l’accès aux fiches métiers et aux
    offres d’emploi et de stage, des conseils sur les TRE, sur l’entrepreneuriat et sur les formations.</p>
  <b>La durée moyenne des séances:</b>
  <p>L’accompagnement globale Watt Of Africa dépend de votre rythme de travail et peut s’étaler entre 1 et 2 mois.</p>
  <p>Le travail sur le projet demande de prendre le temps et de la maturation pour bien se connaître, identifier le
    marché du travail, réaliser des enquêtes professionnelles, échanger avec votre coach pour bénéficier d’une guidance
    via un entretien en visio ou en direct au moins une fois par semaine pour avancer de manière la plus cohérente
    possible dans votre projet professionnel.</p>
  <p>Les exercices durent en moyenne entre 5 mn et 15 mn. La durée moyenne pour chacun d’entre eux est indiqué
    systématiquement.</p>
  <p>La passation des tests psychotechniques dure entre 15 et 30 mn. Les résultats s’affichent automatiquement
    et sont visualisables à tout moment sur la plateforme WATT et pourront être téléchargée en haute définition
    et consultable hors connexion.  </p>
  <b>Durée moyenne</b>
  <p>La durée d'étude dépend de votre rythme de travail. En général, un cours correspond entre 5 et 15h de travail en moyenne en fonction de votre réflexion.</p>
  <p>La durée moyenne d'étude est indiquée au cas par cas sur chaque cours.</p>

  <b>Partenaires:</b>
  <p>Nous travaillons en partenariat avec des organismes de formation, écoles et universités pour vous guider vers les
    établissements le plus adaptés à votre projet professionnel.</p>
  <p>Nous travaillons en étroite proximité avec les entreprises pour identifier leurs besoins en recrutement pour des
    stages ou des emplois et nous mettons tout en œuvre pour vous aider à trouver l’emploi en correspondance
    avec votre profil. </p>
</div>
  </div>
  <div class="border" id="caract">
<h3 class="titre">Les caractéristiques du parcours WATT:</h3>
<b>Accessibilité:</b>
<p>Toutes les séquences d’accompagnement sont accessibles sur la plateforme Watt Of Africa 365j par an, et 24/7 sur tous les supports (PC, Mac, Mobile, tablette).</p>
<p>Tous nos cours sont disponibles directement sur la plateforme OpenClassrooms 365j par an, 24/7, sur tous supports (PC, MAC, tablette, mobile).</p>
<p>Vous pouvez vous inscrire à tout moment de l’année.</p>
<b>Un coaching sur mesure :</b>
<b>Un accompagnement par un coach ou une psychologue:</b>
<p>Vous pouvez bénéficier d’un accompagnement avec un coach ou un psychologue en visioconférence, en fixant un rendez-vous
  en face à face ou par tchat.</p>
<p>Le coach a pour mission:</p>
<ul>
  <li>D’établir les objectifs de l’accompagnement,</li>
  <li>D’échanger sur les différents outils d’évaluation et d’avoir un feed back</li>
  <li>De vous restituer les tests psychotechniques et de les mettre en cohérence avec les métiers ciblés</li>
  <li>De reprendre confiance en vous et faire évoluer votre estime de vous même</li>
  <li>De vous conseiller sur le marché du travail</li>
  <li>D’identifier avec vous la meilleure formation</li>
  <li>De vous coacher sur les outils de recherche d‘emploi (Cv, lettre de motivation)</li>
  <li>Vous préparer efficacement à un concours pour intégrer une grande école</li>
  <li>Vous préparer à un entretien de recrutement</li>
  <li>Vous aider à préparer votre pitch</li>
  <li>De vous mettre en relation avec des organismes de formations, des entreprises dans le cadre de votre recherche
    d’emploi ou de stage</li>
  <li>De vous aider à établir un plan d’actions réaliste et réalisable</li>
</ul>

<b>La prise de rendez-vous avec votre coach:</b>
<p>Les dates de rendez-vous avec votre coach sont fixées au démarrage de l’accompagnement. Vous disposerez d’une séance
  de coaching avec votre coach attitré à raison d’une séance par semaine d’une durée de 1 heure à 1H30 en fonction
  des objectifs fixés.</p>
<p>Vous pourrez lui adresser des messages en ligne et votre coach vous répondra généralement en quelques heures.</p>

<b>Evaluation:</b>
<p>Pour rappel, nous vous proposons 3 parcours complémentaires et indissociables les uns des autres pour vous permettre
  de bâtir un projet professionnel réaliste et cohérent avec votre profil général et le marché du travail.</p>
<p>A chaque parcours, des objectifs à atteindre qui vont vous permettre d’évoluer dans votre réflexion, de faire maturer
  le projet d’aboutir finalement à un plan d’actions vous permettant de mettre en œuvre le projet cible.</p>

<p>Il sera donc indispensable de passer par chaque session des 3 parcours:</p>

<ol>
  <li><b>B’N Start:</b> Commencer par créer votre profil et vos document professionnel</li>
  <li><b>B’N Dream:</b> Des tests et des exercices de réflexion pour découvrir votre ADN Vocationnel et mieux vous connaître</li>
  <ul>
    <li>Photolangage : 15 à 30 mn</li>
    <li>Roue de la vie : entre 20 et 40mn</li>
    <li>Autoportrait : entre 15 et 30 mn</li>
    <li>Test d’intérêt professionnel PRAICO : 20 mn de passation et prise de connaissance des résultats</li>
    <li>Votre meilleure version (Héro / Héroïne) : 15 à 30 mn.</li>
  </ul>
  <li><b>B’N Go:</b> Des informations, des conseils, des outils pour Identifier vos talents et bâtir  votre projet professionnel</li>
  <b>Soyez en présence pour bâtir votre futur:</b>
  <ul>
    <li>Test de personnalité : Profil U (30mn de passation)</li>
    <li>Portefeuille de compétences (1 heure à 2 heures)</li>
    <li>Dico métier : exploration des métiers (2 heures)</li>
    <li>Sélection des métiers en lien avec votre profil (1 heure)</li>
  </ul>
  <li><b>’N Become:</b> Des conseils sur mesure pour mettre en action votre projet et vous réaliser dans l’environnement
    dans lequel vous souhaitez évoluer.</li>
  <b>« Rien n’est impossible. Selon moi, les limites n’existent pas » Usain Bolt.</b>
  <ul>
    <li>Appréhender le marché du travail (2H)</li>
    <li>Réaliser des enquêtes métiers (6H)</li>
    <li>Construire votre CV (1à 2H)</li>
    <li>Rédiger votre lettre de motivation (1H)</li>
    <li>S’inscrire sur les réseaux sociaux (1H)</li>
    <li>Se préparer aux entretiens de recrutement (2H)</li>
    <li>Exercice d’estime de soi et de reprise de confiance en soi (1H30)</li>
    <li>Construire un plan d’actions pour réaliser votre projet professionnel (1H30)</li>
  </ul>
</ol>
<P>Une synthèse vous est délivrée à la fin du bilan de compétences avec les résultats des différents tests passés et
  les projets professionnels identifiés.</P>
<b>Résultats:</b>
<p>La démarche WATT va vous permettre de développer une méthodologie de réflexion et de prise en main de votre itinéraire
  d’évolution professionnelle et par voie de conséquence de vous inscrire dans une démarche solutionniste pour vous
  adapter tout au long de la vie aux évolutions du marché du travail.</p>
<b>Démarche Qualité:</b>
<p>Nous sommes certifiés Qualité Formation et garantissons ainsi la conformité de nos prestations à la réglementation.</p>
  </div>
<div class="texteBas">
<p>COMMENCER LE PARCOURS WATT</p>
<p>ET</p>
<p>SOYEZ LE CHANGEMENT QUE VOUS VOULEZ ÊTRE DANS VOTRE NATION</p>
</div>
  <a [routerLink]="['/EnSavoirPlus']" fragment="haut">Haut de page</a>
</div>

